@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* Menu */
nav{ 
    background-color: #FF914D;
    height: 60px;
}

.menu {text-transform: uppercase; 
       font-family: 'Nunito',  sans-serif; 
       position: absolute; 
       margin-top: 19px;
       height: 18px; 
       font-size: 18px;
       letter-spacing: -1px;}


    
.menu a {color: #fff; 
         padding-left: 15px; 
        padding-right: 11px;
        text-shadow: 0px 1px 2px #ffbd59; 
        padding-top: 5px; 
        padding-bottom: 5px;   
        background-position: 0px 4px;}
    
    .menu a:hover {color: transparent;
         padding-left: 15px;
         padding-right: 11px; 
         text-shadow: 0px 11px 0px black; }  
     
    a:link{
        text-decoration: none;
    } 

    .position-barrinha{
        margin-left: 146px;
        margin-top: 18px;
        
    }
    
    .position-barrinha2{
        margin-left: 186px;
        margin-top: 18px;
        
    }

button{
    margin-left: 90vw;
    background-color: white; 
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    width: 90px;
    height: 35px;
}

.position-button{
    margin-top: -30px;
}

.container-logo{
    width: 100%;
    background-color: #ff914d;
    margin-top: 10px;
    height: 480px;
    position: absolute;
}

.position-logo{
    margin-top: 10px;
    margin-left: 620px;
}
/* Body */

body {
   font-family: open sans;
    
}

.quem-somos-produtos {
    text-align: center;
    padding: 25px;
    margin: 25px;
}

h2 {
    font-size: 30px;
    padding: 5px;
    margin: 10px;
    color:#FF914D;
}

p {
    font-size: 18px;
}

.redes-sociais {
    text-align: center;
    padding: 25px;
    margin: 25px;
}

